/*A hero image is usually big, takes up the full screen, and is placed above the designated area. A hero image sets the tone for the page, sparks curiosity in readers, or simply conveys the general message of the text. This element will be handled with CSS, so for now we just leave an empty tag with the proper class.*/

/*
Most hero images use BACKGROUND property in the <div> tag not the <img>. There are two big ressons for this:

For accessability; the <img> tag should only be used for images that are relevant to the content as they will be announced by screen-readers and printed, while background images will not be.
Background images have the added benefit of being more flexible with their aspect ratios, a huge advantage when dealing with many different page layouts (desktop, mobile tablet).*/

body {
    /* Code here. */
    background-color: #FCFCFC;
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .card {
    margin: 80px auto;
    max-width: 350px;
    box-shadow: 0 20px 20px rgba(0, 0, 0,.08);
    border-radius: 3px;
    /*the transition from normal state to hover and back to normal will take place over 0.24 seconds instead of instantly, making for a much smoother experience.*/
    transition: .24s;
  }
  
  .card:hover {
    box-shadow: 0 40px 40px rgba(0, 0, 0,.16);
    transform: translateY(-20px);
  }
  
  a {
    text-decoration: none;
    color: #1D2129;
  }
  
  .card-hero {
    width: 100%;
    height: 296px;
    background: url('https://cdn.filestackcontent.com/NGEE5NsQwi4YG4ge4qHw');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .card-block {
    padding: 24px;
    background-color: white;
  }
  
  .card-title {
    /*A default margin is been applied to all the title tags from <h1>to<h6>. Hence, when defining the style of the titles, the default style has to be taken into consideration.*/
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  
  
   .card-description {
     /*The description text should only show the beginning part of the text. Therefore we have to choose whether it will show 2 or 3 first lines of the text. Here we will set it to show up to only 3 lines. Whatever exceeds 3 lines will be displayed as ....*/
     /*What is the first thing that many developers/designers do when they come across a requirement they don't know or understand?
  In the above case, we usually search in Google for text ellipsis 3 line css. In most cases, it solves the problem.*/
  
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 12px 0 0 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   color: #4B4F56;
  }
  
  .card-hr {
    margin: 16px 0 0 0;
    /*By default the <hr> is set as border-width: 1px. However, I only want to apply border-top to <hr>*/
    border: 0;
    border-top: 1px solid #ECEFF1;
  }
  
  .card-type, .card-tag {
    margin: 16px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #90949C;
  }
  
  .card-tag {
    display: none;
  }
  
  .card:hover .card-type {
    display: none;
  }
  
  .card:hover .card-tag {
    display: block;
  }
